* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {  background-color: #001e4d; }

/* Header styles */
header {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    position: relative;
    color: #fff;
    padding: 5px;
    font-size: 25px;
}

.header-logo {
    height: 50px;
    width: 100px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 700px) { header h1 { font-size: 26px; } }

@media(max-width: 500px) {
    header h1 { font-size: 20px; }
    header #second-logo {  display: none; }
}

@media(max-width: 330px) {
    .header-logo {
        height: 30px;
        width: 60px;
    }
    header h1 { font-size: 17px; }
}

/* Footer styles */
footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

footer h4{
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 600;
}

.fa-heart { color: #f44336; }

/* App Styles */
.app{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 100px;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    padding-bottom: 10px;
}

.app #instructions {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.quiz { padding: 20px 0; }

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.answer-btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.answer-btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}
.answer-btn:disabled { cursor: no-drop; }

#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct { background-color: #9aeabc; }
.incorrect { background-color: #ff9393; }